@model MyOSBB.Models.ResetPassword
@{
	ViewData["Title"] = "Зміна паролю";
}


<content>
	<div class="descriptionBackground">
		<div class="logo">
		</div>
		<div class="description">
			<p>Онлайн система управління ОСББ</p>
			<hr style="background-color: #58595b; size: 5px;" />
			<br />
			<br />
			<p>Введіть адресу вашої поштові скриньки</p>
			@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "login-form", role = "form" }))
			{
				@Html.AntiForgeryToken()
				<div class="Login">
					<div class="row">
						@*<label for="login"><span style="color: #dd0330;">@ViewBag.LoginError</span></label>*@
						<div class="input-group">
							@Html.HiddenFor(model => model.UserId, new
							{
								htmlAttributes = new
								{
									@class = "input, form-control",
									id = "UserId",
									name = "UserId",
									required = "required",
									type = "hidden",
									placeholder = "Новий пароль",
									style = "font-family: 'Comfortaa', cursive; background-color: #fff;",
									Value = @ViewBag.UserId,
									onkeyup = "check();"
								},
								onkeyup = "check();"
							})
							@Html.EditorFor(model => model.Password, new
							{
								htmlAttributes = new
								{
									@class = "input, form-control",
									id = "Password",
									name = "Password",
									required = "required",
									type = "password",
									placeholder = "Новий пароль",
									style = "font-family: 'Comfortaa', cursive; background-color: #fff;",

								},
								onkeyup = "check();"
							})
							<span class="input-group-addon"><i class="fa fa-key"></i></span>

						</div>
					</div>

					<div class="row">
						<label for="login">
							<span style="color: #dd0330;">
								@Html.ValidationMessageFor(m => m.PasswordConfirm, "", new { @class = "error" })
							</span>
						</label>
						<div class="input-group">
							@Html.EditorFor(model => model.PasswordConfirm, new
							{
								htmlAttributes = new
								{
									@class = "input, form-control",
									id = "PasswordConfirm",
									name = "PasswordConfirm",
									required = "required",
									type = "password",
									placeholder = "Повторіть новий пароль",
									style = "font-family: 'Comfortaa', cursive; background-color: #fff;"
								}
							})
							<span class="input-group-addon"><i class="fa fa-key"></i></span>

						</div>
					</div>
					<div class="row">
						<button id="submit" type="submit" class="btn btn-success" style="width: 100%; font-family: 'Comfortaa', cursive;">Змінити пароль</button>
					</div>

					<div id="messageArea" class="row alert alert-warning" style="background-color: #dd035614; color: #dd0330; font-size: 15pt;  border: 1px solid #dd0330;
								display: none;">
						<span id='message'>Паролі не співпадають</span>
					</div>

					<br />
					<br />
					<div class="row">
						<a href='@Url.Action("Login")' style="text-decoration:none">
							<button type="button" class="btn btn-info btn-block" style="width: 100%; font-family: 'Comfortaa', cursive;">
								Відміна
							</button>
						</a>
					</div>
				</div>
			}
		</div>
	</div>
</content>
<footer></footer>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script type="text/javascript">

	window.onload = function () {
		document.getElementById('messageArea').style.display = 'none';
		document.getElementById('submit').disabled = true;
	}
	$("#Password").change(function () {
		if ($('#Password').val() == $('#PasswordConfirm').val()) {
			//document.getElementById('message').style.color = 'green';
			//document.getElementById('message').innerHTML = 'matching';
			document.getElementById('submit').disabled = false;
			document.getElementById('messageArea').style.display = 'none';
		} else {
			document.getElementById('submit').disabled = true;
			document.getElementById('message').style.color = 'red';
			document.getElementById('message').innerHTML = 'Паролі не співпадають';
			document.getElementById('messageArea').style.display = 'block';
		}
	});

	$("#PasswordConfirm").change(function () {
		if ($('#Password').val() == $('#PasswordConfirm').val()) {
			//document.getElementById('message').style.color = 'green';
			//document.getElementById('message').innerHTML = 'matching';
			document.getElementById('submit').disabled = false;
			document.getElementById('messageArea').style.display = 'none';
		} else {
			document.getElementById('submit').disabled = true;
			document.getElementById('message').style.color = 'red';
			document.getElementById('message').innerHTML = 'Паролі не співпадають';
			document.getElementById('messageArea').style.display = 'block';
		}
	});
</script>

